:root {
    --cor-de-fundo:#020002;
    --cor-de-letra:#fd00db;
    --cor-de-parede:pink;
}

body{

    background-color:var(--cor-de-fundo);
}
h1{
    color:var(--cor-de-letra);
}

.bundinhasuja{
display:flex;
background-color: var(--cor-de-parede);
align-items: center;
justify-content: space-evenly;
}
