:root {
    --cor-de-fundo:#006600;
    --cor-de-letra:#000000;
    --cor-de-parede:rgb(38, 252, 66);
}

body{

    background-color:var(--cor-de-fundo);
}
h1{
    color:var(--cor-de-letra);
}

.bundinhasuja{
display:flex;
background-color: var(--cor-de-parede);
align-items: center;
justify-content: space-evenly;
}

.batamarela{
    background-clip: repeat;
}

#texto{
    color: rgb(0, 0, 0);
    
}

.contagem{
    background-color: #51a351;
    padding: 20px 0;
    text-align: center;
}

.objetivos{
    padding: 20px;
    font-size: 18px;
}

.ativo{
    background-color: black;
    color:rgb(229, 255, 0);
}

.aba-conteudo{
    display: none;
}

.ativa{
    display: block;
}