:root {
    --cor-de-fundo:#020002;
    --cor-de-letra:#fd00db;
    --cor-de-parede:pink;
}

body{

    background-color:var(--cor-de-fundo);
}
h1{
    color:var(--cor-de-letra);
}

.bundinhasuja{
display:flex;
background-color: var(--cor-de-parede);
align-items: center;
justify-content: space-evenly;
}

.batamarela{
    background-clip: repeat;
}

#texto{
    color: purple;
    
}

.contagem{
    background-color: #ad00fd;
    padding: 20px 0;
    text-align: center;
}

.objetivos{
    padding: 20px;
    font-size: 18px;
}

.ativo{
    background-color: black
    color: red
}